body{
    margin-top: 48px;
    color:rgb(0, 0, 0);
    font-family: "Roboto Mono", monospace;
}

.body-container{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
}

.header-bar{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white ;
    flex-direction: row;
    text-align: center;
    border-top-style: none;
}

.header-bar button{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 2px;
    border-radius: 6px;
    background-color: rgb(194, 23, 131);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    font-family: "Roboto Mono", monospace;
    transition-duration: 0.2s;
    vertical-align: middle;
}

.header-bar button:hover{
    background-color: rgb(255, 20, 204);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    transition-duration: 0.2s;
    cursor: pointer;
}
.header-external-link{
    width:16px;
    padding: 0;
}
.header-title-text-alternate{
    padding-left: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: none;
}
.header-title{
    padding-left: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
@media only screen and (max-width: 1000px) {
    .header-title-text{
        display: none;
    }
}
@media only screen and (max-width: 1000px) {
    .header-title-text-alternate{
        display: contents;
    }
}
@media only screen and (max-width: 600px) {
    .header-title-text-alternate{
        display: none;
    }
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: rgb(255, 255, 255);
    background-color:rgb(255, 140, 221);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    width: 340px;
}
.game-thumbnail{
    margin-top: 16px;
    border-radius: 12px;
    
}
.game-thumbnail img{
    width: 300px;
    height: auto;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}
.game-container p{
    width:270px;
    padding-top:0px;
    margin-top:0px;
    flex-grow: 1;
}
.game-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game-title-container img{
    width: 30px;
    padding-top:0px;
    padding-right: 12px;
    height: auto;
}
.game-button-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width:270px;
    padding-top: 0px;
    padding-bottom: 6px;
}
.game-button-container button{
    margin-bottom: 12px;
    width: fit-content;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Roboto Mono", monospace;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    transition-duration: 0.2s;
    border-radius: 0px;
    justify-content: top;
    align-items: left;
    flex-direction: column;
    border-width: 1px;
}
.game-button-container button:hover{
    background-color: rgb(255, 20, 204);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    transition-duration: 0.2s;
    cursor: pointer;
}
.horizontal-games-container{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
    width: fit-content;
    flex-wrap: wrap;
}
.projects-title{
    color: #FFFFFF;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.52);
}