
.header-bar{
    justify-content: space-between;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white ;
    flex-direction: row;
    text-align: center;
    border-top-style: none;
}

.header-bar button{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 2px;
    border-radius: 6px;
    background-color: rgb(194, 23, 131);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    font-family: "Roboto Mono", monospace;
    transition-duration: 0.2s;
    vertical-align: middle;
}

.header-bar button:hover{
    background-color: rgb(255, 20, 204);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    transition-duration: 0.2s;
    cursor: pointer;
}
.header-external-link{
    width:16px;
    padding: 0;
}
.header-title-text-alternate{
    padding-left: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: none;
}
.header-title{
    padding-left: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.mobile-header-title-text{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 45px;
    color: rgb(0, 0, 0);
    display: none;
}
.mobile-menu{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 20px;
    position: fixed;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white ;
    flex-direction: row;
    text-align: center;
    border-top-style: none;
    justify-content: space-between;
}
.mobile-menu-button{
    display: none;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
.mobile-menu-button img{
    width: 100px;
    padding: 8px;
    anchor-name: --hamburger;
}
.mobile-menu-popover{
    padding:0px;
    position: fixed;
    width:65%;
    flex-direction: column;
    background-color: rgb(200, 35, 190);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 8px;
}
.mobile-menu-popover button{
    font-size: 60px;
    color: rgb(255, 255, 255);
    border-style: none;
    background-color: rgb(200, 35, 190);
    transition-duration: 0.2s;
    width: 100%;
    padding-left:12px;
    padding-right:12px;
    cursor: pointer;
}
.mobile-menu-popover button:hover{
    font-size: 60px;
    color: white;
    border-style: none;
    background-color: rgb(255, 74, 243);
}
.mobile-menu-popover button img{
    font-size: 60px;
    border-style: none;
    width:40px;
    padding-right:14px;
}
@media only screen and (max-width: 1000px) 
{
    body{
        margin-top: 130px;
    }
    .mobile-header-title-text{
        display: flex;
        padding-right: 20px;
    }
    .mobile-menu-button{
        display: flex;
    }
    .mobile-menu{
        align-items: center;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
    }
    .header-bar{
        display: none;
    }
    .header-title-text{
        display: none;
    }
    .header-title-text-alternate{
        display: contents;
    }
}
@media only screen and (max-width: 600px) {
    .header-title-text-alternate{
        display: none;
    }
}